@import "~antd/dist/antd.css";

.auth-container {
  width: 100%;
  min-height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
}
.auth-img {
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.auth-form {
  flex: 0.6;
  margin: auto;
  min-height: 400px;
  text-align: center;
  padding-right: 20px;
}
.auth-form form {
  max-width: 400px;
  margin: auto;
}
.top img {
  padding: 0px;
  margin-top: -60px;
}
.top h3 {
  color: red;
  text-align: left;
}

.ant-form-item-label {
  width: 130px;
  text-align: center;
}

@media (max-width: 768px) {
  .auth-img {
    display: none;
  }
  .ant-form {
    padding-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .ant-form-item {
    margin-bottom: 5px;
  }

  .ant-form-item-label {
    padding-bottom: 2px;
  }
}
