.container-class {
  padding: 10px 50px;
}
@media (max-width: 768px) {
  .container-class {
    padding: 10px 30px;
  }
}
@media (max-width: 575px) {
  .container-class {
    padding: 10px 20px;
  }
}
ul.ant-pagination {
  text-align: center;
  padding: 25px 5px;
}
.headerBtn {
  background-color: black !important;
}
